
<div class="container-fluid OrdersContainer ">
    <h2 class="h3 p-4"> المنتجات</h2>
    <!-- <div class="searchInput position-relative">
        <i class="bi bi-search"></i>
    
        <input type="text" placeholder="بحث" />
      </div> -->
    @if(loading==false){
      <div class=" text-center">
        <div class="loader"></div>
    </div>
    }
    <div class="DataScroll" >
         <div class="">
          @if(ResultProducts.length>0){
            <table class="table text-center ">
            <thead>
              <tr>
                  <th>الرقم</th>
                  <th>  صوره المنتج</th>
                  <th>اسم المنتج</th>
                  <th> سعر المنتج</th>
                  <th>الكميه </th>
                  <th> الخصم</th>
                  <th>الإجراءات </th>
                
              </tr>
              
            </thead>
            <tbody >
              <tr *ngFor="let Product of ResultProducts; let i = index">
                  <td class="px-3 font-bolder">{{ i + 1 }}</td>
               
                  <td><img [src]="Product.Image" style="width: 90px ;" alt=""></td> 
                  <td>{{ Product.nameProduact	 }}</td>
                  <td>{{ Product.price}}</td> 
                  <td>{{Product.Qty}}</td>
                  <td>{{Product.dec}}</td>
                  <td>
                    <button class="btn btn-info" (click)="Edit(Product)">Edit</button>
                    <button class="btn btn-danger" (click)="DeleteProduct(Product.id)">Delete</button>
                  </td>
               
                 
  
                </tr>
            </tbody>
          </table>
          }   
         </div>
       
    </div>
    
    <div class="d-flex justify-content-between">
      <div class="d-flex  pagination-controls">
        <button
          [disabled]="count < 2"
          class="btn  m-3"
          (click)="navigateToPreviosPage()"
        >
          السابق
        </button>
          
          <span class="current-page NumpageActive">{{ count }}</span>
          @if(count > numberOfPages){ 
             <span class="current-page NumpageActive NumpageNotActive"
             (click)="goToPage(count + 1)">
              {{ count + 1 }} 
          </span>

          }
        
          <span class="current-page NumpageActive NumpageNotActive"
              *ngIf="count > numberOfPages - 1" (click)="goToPage(count + 2)">
              {{ count + 2 }}
          </span>
    
        <button class="btn m-3" (click)="navigateToAnotherPage()">
          التالي
        </button>
      </div>

      <div class="dropdown mt-2">
        <label for="numberr"> العناصر في الصفحه</label>
        <select
          id="numberr"
          class="changeselct"
          (change)="numberChange($event)"
        >
          <option value="10">10</option>
          <option *ngFor="let numberr of numbers" [value]="numberr">
            {{ numberr }}
          </option>
        </select>
      </div>
    </div>
  </div>

