<div class="container py-lg-5 bg-white px-5 ">
    <div class="option">
            <a  class="nav-link" [routerLink]="['/home/content']" routerLinkActive="active-link">
                <i class="fa-solid fa-house-chimney" ></i>
                <h4>لوحه  التحكم</h4>
            </a>   
    </div> 
    <div class="option">
        <a  class="nav-link" [routerLink]="['/home/orders']" routerLinkActive="active-link">
            <i class="fa-solid fa-box"></i>
            <h4>الطلبات</h4>
        </a>   
    </div> 
    <div class="">
        <a  class=" motgat option nav-link" [routerLink]="['/home/products']" routerLinkActive="active-link" (click)="ShowOrHide()">
            <i class="fa-solid fa-boxes-stacked"></i>
            <h4>المنتجات</h4>
        </a> 
      @if (isVisable==true) 
      {
        <div class="showOrhide">
            <a  class="nav-link" [routerLink]="['/home/products']" routerLinkActive="active-link">
              
                <h4>المنتجات</h4>
            </a>
             <a  class="nav-link" [routerLink]="['/home/Addproducts']" routerLinkActive="active-link">
             
                    
                    <h4>اضافه</h4>
               
            </a>
           </div>
      }
       
    </div>
    <div class="option">
        <a  class="nav-link " [routerLink]="['/home/Message']" routerLinkActive="active-link">
            <i class="fa-regular fa-comment"></i>
            <h4>رسائل المستخدمين</h4>
        </a>   
    </div> 
   
    <div class="optionLog">
        <a  class="nav-link" (click)="_Auth.logout()" routerLinkActive="active-link Log">
            <i class="fa-solid fa-right-from-bracket"></i>
            <h4>تسجيل الخروج </h4>
        </a>   
    </div> 
</div>