<div class="container-fluid OrdersContainer">
    <div class="d-flex justify-content-between">
      <h2 class="h3 p-4">الرسائل</h2>
      <form>
        <input
          type="text"
          name="searchInput"
         
          placeholder="ابحث"
          style="
            border-radius: 20px;
            border: 1px solid #b88e2f;
            padding: 10px;
            margin-top: 10px;
          "
        />
      </form>
    </div>
  
    @if(loading==false){
    <div class="text-center">
      <div class="loader"></div>
    </div>
    }
    <div class="DataScroll">
      <div class="">
        @if(PagenationMessages.length>0){
        <table class="table text-center">
          <thead>
            <tr>
              <th>الرقم</th>
              <th>الاسم </th>
              <th>البريد الالكتروني</th>
              <th> رقم الهاتف</th>
              <th>وقت الرساله</th>
              <th>الإجراءات</th>
            </tr>
          </thead>
          <tbody>
            @for (Message of PagenationMessages |search:searchInput: 'nameUser';
            track $index) {
            <tr>
              <td style="width: 70px" class="px-3 font-bolder">
                {{ $index + 1 }}
              </td>
  
             
              <td style="width: 180px">{{ Message.nameUser }}</td>
              <td style="width: 110px">{{ Message.Email }}</td>
              <td style="width: 110px">{{ Message.phone }}</td>
              <td style="width: 110px">{{Message.createdAt | date: 'dd/MM/yyyy' }}</td>
              <td style="width: 120px">
                
                <button class="Showw btn btn-success" data-bs-toggle="modal"
                [attr.data-bs-target]="'#messageModal' + $index">
                    اظهار <i class="fa-regular fa-pen-to-square"></i>
                </button>
                <button
                  class="trash btn btn-danger"
                  (click)="DeleteMessage(Message.id)"
                >
                  حذف<i class="fa-solid fa-trash"></i>
                </button>
                <div class="modal my-5 fade" [id]="'messageModal' + $index" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header justify-content-between">
                            <h5 class="modal-title" id="exampleModalLabel">الرسائل</h5>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ Message.message }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">إخفاء</button>
                        </div>
                    </div>
                </div>
            </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
        }
      </div>
    </div>
  
      
       
    <!--Pagination  -->
    @if(PagenationMessages.length > 0){ 
      <div class="d-flex justify-content-between">
      <div class="d-flex pagination-controls">
        <button
          [disabled]="currentPage < 2"
          class="btn m-3"
          (click)="navigateToPreviosPage()"
        >
          السابق
        </button>
  
        <span class="current-page NumpageActive">{{ currentPage }}</span>
        <span
          class="current-page NumpageActive NumpageNotActive"
          *ngIf="currentPage < numberOfPages()"
          (click)="goToPage(currentPage + 1)"
        >
          {{ currentPage + 1 }}
        </span>
        <span
          class="current-page NumpageActive NumpageNotActive"
          *ngIf="currentPage < numberOfPages() - 1"
          (click)="goToPage(currentPage + 2)"
        >
          {{ currentPage + 2 }}
        </span>
  
        <button class="btn m-3" (click)="navigateToAnotherPage()">
          التالي
        </button>
      </div>
  
      <div class="dropdown mt-2">
        <label for="numberr"> العناصر في الصفحه</label>
        <select
          id="numberr"
          class="changeselct"
          (change)="numberChange($event)"
        >
          <option *ngFor="let numberr of numbers" [value]="numberr"
          [selected]="numberr==pageSize"
          >
            {{ numberr }}
          </option>
        </select>
      </div>
    </div>}
   
  </div>
  